<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Haqida</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <header class="header">
    <nav class="nav container">
      <span class="logo">
        Kasblar
      </span>
      <div class="nav-link__box d-flex">
        <a href="/about" class="nav__link mr-5">Loyiha haqida</a>
        <a href="/about" class="nav__link">Yordam</a>
      </div>
    </nav>
  </header>

  <main class="main pb-5 mb-5">
    <section class="about container">
      <h1 id="job_name" class="about__title w-75 mx-auto text-center mt-5">
        Kasb nomi
      </h1>

      <div class="about__box mt-5">
        <img id="job_img" class="about__img" src="https://picsum.photos/700" alt="">
        <p id="job_about" class="about__job h5 mb-4 p-5">Kasb haqida: Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nam, voluptatum porro nemo at libero? Debitis possimus consequuntur commodi, enim deleniti labore, fuga esse in accusantium praesentium numquam ea aliquid!</p>
        <div class="adv-dis d-flex">
          <div class="about-advantage w-50 pl-5 p-4 border-right">
            <span class="h5">Yaxshi tomonlari:</span>
            <p id="job_good">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, nobis  asd a das d asd a d a d asdasdasd sad a sd asd a d asd a sasda asd ad sdadasd asd ad asd!</p>
          </div>
          <div class="about-disadvantage w-50 pr-5 p-4">
            <span class="h5">Yomon tomonlari:</span>
            <p id="job_bad">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, nisi.</p>
          </div>
        </div>
      </div>

      <div style="border: 1px solid rgb(160, 201, 248); border-radius: 12px; margin-top: 20px; padding: 40px;">
        <h3>Bu kasbni o'rganish mumkin bo'lgan joy:</h3>
        <p id="advert" style="font-size: 17px;"></p>
      </div>


    </section>
  </main>

  <footer class="footer">
    <div class="footer__container container d-flex align-items-center justify-content-between py-4">
      <div class="footer__left d-flex flex-column ">
        <span class="logo">
          Kasblar
        </span>
        <span>
          Copyright 2022
        </span>
      </div>
      <div class="footer__right d-flex flex-column">
        <span>
          +998901234567
        </span>
        <span>
          Created by Shahzodbek Shavkatov
        </span>
      </div>
    </div>
  </footer>

  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/main.js"></script>
  <script src="renderJS/util.js"></script>
  <script src="renderJS/about.js"></script>
</body>
</html>
