<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Kasblar</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <header class="header">
    <nav class="nav container">
      <span class="logo">
        Kasblar
      </span>
      <form class="form-inline w-50">
        <input class="form-control w-50 form-control-sm" type="search" placeholder="Search" aria-label="Search">
        <button  class="btn ml-2 btn-sm btn-outline-success" type="submit">Qidiruv</button>
      </form>
      <div class="nav-link__box d-flex">
        <a href="/" class="nav__link mr-5">Loyiha haqida</a>
        <a href="/" class="nav__link">Yordam</a>
      </div>
    </nav>
  </header>

  <main class="main pb-5">
    <section class="hero container d-flex align-items-center justify-content-between">
      <div class="hero__left">
        <blockquote class="position-relative">
          Menga mutaxassislarning suhbatlari yoqmaydi. Ammo bundan ham ko'proq - mutaxassis bo'lmaganlarning suhbatlari.  
        </blockquote>
      </div>
      <div class="hero__right">
        <img class="hero__img" src="https://i0.wp.com/fb.ru/misc/i/gallery/47188/2612914.jpg" alt="">
      </div>
    </section>

    <section class="cards container">
      <ul id="jobUl" class="cards__list list-unstyled ">
        <!-- <li class="cards__item">
          <img src="https://picsum.photos/200/300" alt="" class="cards-item__img">
          <div class="cards-item__content-box">
            <p class="cards-item__title">Kasb Nomi..... Lorem ipsum dolor sit amet.</p>
            <div class="cards-item__comment-box">
              <ul class="comment__list list-unstyled">
                <li class="comment__item">
                  <p class="comment__text">yaxshi kasb</p>
                </li>
                <li class="comment__item">
                  <p class="comment__text">men shu kasbda ishlayman</p>
                </li>
                <li class="comment__item">
                  <p class="comment__text">men ham</p>
                </li>
                <li class="comment__item">
                  <p class="comment__text">yaxshi</p>
                </li>
              </ul>
              <div class="comment__box">
                <form class="comment__form"><input placeholder="type here" class="comment__input" type="text"><button class="comment__send">send</button></form>
              </div>
              <button class="comment__btn-more">
                more...
              </button>
            </div>
          </div>
        </li> -->
      </ul>
    </section>

    <button style="background-color: rgb(45 122 189);" class="w-25 border-0 d-block btn btn-secondary mx-auto">yana yuklash</button>
  </main>

  <footer class="footer">
    <div class="footer__container container d-flex align-items-center justify-content-between py-4">
      <div class="footer__left d-flex flex-column ">
        <span class="logo">
          Kasblar
        </span>
        <span>
          Copyright 2022
        </span>
      </div>
      <a href="/admin">Yangi kasb haqida ma'lumot qo'shmoqchi bo'lsangiz, yozuv ustiga bosing</a>
      <div class="footer__right d-flex flex-column">
        <span>
          +998901234567
        </span>
        <span>
          Created by Shahzodbek Shavkatov
        </span>
      </div>
    </div>
  </footer>

  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/main.js"></script>
  <script src="renderJS/util.js"></script>
  <script src="renderJS/index.js"></script>
</body>
</html>
